.signUp-section {
  height: 100vh;
  margin: 12rem 0;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
  .signUp-section {
    height: 100vh;
    margin: 10rem 0;
  }
}

.signUp-section .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.success-msg {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
}